.ds-main-content {
  /* min-height: 100vh;
  background-color: #f5f7fa;
  transition: all 0.3s ease;
  margin-left: 250px;
  width: 100%;
  width:calc(100% - 280px); */
  min-height: 100vh;
  background-color: #f5f7fa;
  transition: all 0.3s ease;
  margin-left: 280px;
  width: 100%;
}

.ds-main-content.sidebar-closed {
  /* margin-left: 70px;
  width: 100%;
  width : calc(100% - 70px); */
  /* margin-left: 0; */
  /* width: 100%; */
}

.ds-content-header {
  padding: 20px 30px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #eaeef3;
}

.ds-content-title {
  font-size: 24px;
  color: #2c3e50;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
}

/* .ds-content-page {
  max-width: 1400px;

  padding: 30px;
  background-color: white;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
} */
.ds-content-page{
  width:100%;
  padding:30px;
  background-color:white;
  margin:20px 0;
  border-radius:12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.ds-content-page h2 {
  color: #3a4f6a;
  font-weight: 500;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .ds-main-content {
    margin-left: 0;
    width: 100%;
  }

  .ds-main-content.sidebar-closed {
    /* margin-left: 70px; */
    margin-left: 0;
    width: 100%;
  }

  .ds-content-header {
    padding: 15px 20px;
  }

  .ds-content-title {
    font-size: 20px;
  }

  .ds-content-page {
    padding: 20px;
    margin: 15px;
  }
}